.git
.github
.vscode
node_modules
vendor
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
bootstrap/cache/*.php
docker/mysql
tmp
tests
docs
memories
tools
*.log
npm-debug.log
yarn-error.log